In [24]:
import pandas as pd
import matplotlib.pyplot as plt

titanic = pd.read_csv('./titanic.csv')

#print(titanic.head(10))#printa os 10 primeiros

titanic.sort_values(by=['Name'], ascending=True, inplace=True)#ordena

#print(titanic.head(10))#printa ordenado

titanic['Sobrevivente']= titanic['Survived'].map({1:'Sim', 0:'Não'})#cria uma nova coluna colocando se morreu ou não com sim ou não

#print(titanic.head(10))#printa com a coluna extra

titanic = titanic.drop(columns=['SibSp', 'Parch', 'Ticket'])#remove "SibSp", "Parch", "Ticket"

#print(titanic.head(10))#printa sem as colunas "SibSp", "Parch", "Ticket"

titanic = titanic.rename(columns={"Name":"Nome", "PassengerId":"BilheteId", "Survived":"Sobrevive", "Pclass":"Classe_P", "Sex":"Sexo", "Age":"Idade", "Fare":"Tarifa", "Cabin":"Cabine", "Embarked":"Embacou"})#troca os nomes das colunas em ingles para portugues

#print(titanic.head(10))#printa com as colunas com nome trocado

titanic['Sexo'] = titanic['Sexo'].replace(['male','female'],['masculino','FEMININO'])#altera os valors male e flame das colunas

#print(titanic.head(10))#printa com a tradução dos sexos

sobrevivente_class = titanic.groupby(['Classe_P','Sobrevivente'])['Sobrevive'].count()#agrpa classe por sobrevivente

print(sobrevivente_class.head(10))#printa o numero de sobreviventes por classe

sobrevivente_sexo = titanic.groupby(['Sexo','Sobrevivente'])['Sexo'].count()#agrupa sexo com sobrevivente

print(sobrevivente_sexo.head(10))#printa o numero de sobrevidentes por sexo

sobrevivente_class.plot(kind = 'pie')#monta o gráfico em pizza
plt.show()

titanic.to_excel('titanic.xlsx',index = None, header=True)#convertendo csv para o arquivo xlsx

     BilheteId  Sobrevive  Classe_P  \
845        846          0         3
746        747          0         3
279        280          1         3
308        309          0         2
874        875          1         2
365        366          0         3
401        402          0         3
40          41          0         3
855        856          1         3
207        208          1         3

                                               Nome       Sexo  Idade  \
845                             Abbing, Mr. Anthony  masculino   42.0
746                     Abbott, Mr. Rossmore Edward  masculino   16.0
279                Abbott, Mrs. Stanton (Rosa Hunt)   FEMININO   35.0
308                             Abelson, Mr. Samuel  masculino   30.0
874           Abelson, Mrs. Samuel (Hannah Wizosky)   FEMININO   28.0
365                  Adahl, Mr. Mauritz Nils Martin  masculino   30.0
401                                 Adams, Mr. John  masculino   26.0
40   Ahlin, Mrs. Johan (Johanna Persdotter Larsson)   FEMININO   40.0
855                      Aks, Mrs. Sam (Leah Rosen)   FEMININO   18.0
207                     Albimona, Mr. Nassef Cassem  masculino   26.0

      Tarifa Cabine Embacou Sobrevivente
845   7.5500    NaN       S          Não
746  20.2500    NaN       S          Não
279  20.2500    NaN       S          Sim
308  24.0000    NaN       C          Não
874  24.0000    NaN       C          Sim
365   7.2500    NaN       S          Não
401   8.0500    NaN       S          Não
40    9.4750    NaN       S          Não
855   9.3500    NaN       S          Sim
207  18.7875    NaN       C          Sim
Classe_P
1    216
2    184
3    491
Name: Sobrevive, dtype: int64